@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway');
nav{
    background-color: #006064!important;
    border-bottom:3px solid #FFEB3B!important;
}
nav a{
    color: #fff;
    font-family: 'Patua One', cursive;
}
#banner{
    height: 700px;
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-family: 'Patua One', cursive;
    color: #fff;
    margin-top: 8%;
    font-size: 4.5em;
}
input{
    height: 50px!important;
    width: 35%!important;
    border-radius: 0px!important;
    text-align: center;
}
button{
    border-radius:0px!important;
    height: 50px!important;
    background-color: #FFEB3B;
    width: 140px;
    font-family: 'Patua One', cursive;
    color: #fff;
}
#banner-text{
    font-size: 2em;
    color: #fafafa;
    font-family: 'Raleway', sans-serif;
    margin-top: 6%;
}
#banner-icons{
    margin-top: 4%;
}
#quote{
    min-height: 300px;
    background-color: #FFEB3B;
    font-size: 3em;
    padding: 8% 18% 8% 18%;
    color: #fafafa;
    font-family: 'Patua One', cursive;
}
#portfolio{
    padding-top: 8%;
}
h2{
    font-family: 'Patua One', cursive;
    font-size: 3em;
}
#thumbs{
    margin-top: 3%;
}

/* Styling scroll-bar */

::-webkit-scrollbar {
    width: 6px;
    background: rgba(0,0,0,0.5);
    padding: 3px;
}
::-webkit-scrollbar-thumb {
    background: #006064;
    border-radius: 0px 20px 0px 20px;
}